{% extends 'base.html' %}


{% block content %}
<div class="auth-container">
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <input type="submit" value="Login">
    </form>
    <div class="message">
        Don't have an account? <a href="{% url 'register' %}">Register</a>
    </div>
</div>
{% endblock %}


